.DS_Store
temp.xlsx
Untitled.ipynb
Untitled1.ipynb
*checkpoints*
__pycache__/
covid_data_update/
boulder-2021-12-20.csv
covid_data/Covid_programs_summary.txt
covid_data/covid_text
covid_data/flist_of_covid_png
covid_data/temp.xlsx
covid_text 
flist_of_covid_png
temp.xlsx
error_repair.ipynb
test.py
test.csv
*test.ipynb
add_populations.ipynb
population_by_country_2020.csv
covid_data/*.png
covid_data/*.xlsx
covid_data/*.csv
