.DS_Store
temp.xlsx
Untitled.ipynb
Untitled1.ipynb
*checkpoints*
__pycache__/
covid_data_update/
boulder-2021-12-20.csv
covid_data/Covid_programs_summary.txt
covid_data/covid_text
covid_data/flist_of_covid_png
covid_data/temp.xlsx
covid_text 
flist_of_covid_png
temp.xlsx
